.ListOfWords {
  max-height: 230px;
  overflow: auto;
}

.ListOfWords a {
  color: white;
}

.Card {
  padding: 10px;
  margin: 5px;
  background-color: #303030;
  
}

.Card h1 {
  margin: 0 0 5px 0;
  font-size: 20px;
}